  .app-container {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    bottom: 0;
}    
  .app-body {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
}



  