<div class="app-container">
  <mat-toolbar color="primary" style="padding: 5px 10px; min-height: 48px;">
    <a href="https://www.djjb.de" target="blank">
      <img src="https://www.djjb.de/images/logo.png" style="padding-top: 9px; width: 345px;"/>
    </a>
  </mat-toolbar>
 
    <mat-tab-group class="app-body">
      <mat-tab label="Aktuelles" >
        <ck-spinner *ngIf="!feeds.length" ></ck-spinner>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let feed of feeds">
            <mat-expansion-panel-header>
              <span style="font-size: smaller"> {{feed.title | slice:0:85}}</span>
            </mat-expansion-panel-header>
            <img (click)="openLinkInBrowser(feed)" width="100%" src="{{feed | thumbnail}}" alt="..."><br>
            {{feed.description | slice:0:1000}}...
            
            <mat-action-row>
                <span style="cursor: pointer" (click)="openLinkInBrowser(feed)">Vollständigen Artikel lesen...</span>
            </mat-action-row>
            
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    
      <mat-tab label="Lehrgänge">
        <div #lghost></div>
      </mat-tab>

  </mat-tab-group>

</div>