.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: rgb(156, 18, 41); }
	25% { stroke: #DE3E35; }
	50% { stroke: rgb(247, 35, 35); }
	75% { stroke: rgb(218, 146, 149); }
  100% { stroke: rgb(255, 255, 255); }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}