@use '@angular/material' as mat;
@use '@angular/material/core/m2' as m2;

@include mat.core();

$primary: m2.define-palette(m2.$red-palette, 800); // Using Red 800 (C62828)
$accent: m2.define-palette(m2.$pink-palette, A200, A100, A400);
$warn: m2.define-palette(m2.$red-palette);

$theme: m2.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);