@import '~@angular/material/theming';
@include mat-core();

$djjb-primary: mat-palette($mat-red, 800);
$djjb-accent:  mat-palette($mat-blue, 800);
$djjb-warn:    mat-palette($mat-deep-orange);

$djjb-theme: mat-light-theme($djjb-primary, $djjb-accent, $djjb-warn);

@include angular-material-theme($djjb-theme);